@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #6a65ff;
  --secondary: #fdffd1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.clip-text {
  font-kerning: none;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fffdfb inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent;
  color: white;
}

.path-animation {
  animation: draw 2s ease-in-out forwards;
}

.landing-main-subtitle .line {
  white-space: nowrap;
}

.transparent-element {
  opacity: 0;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
